apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  operators:
{% for cat in operator_catalogs %}
    - catalog: registry.redhat.io/redhat/{{ cat.name }}:v{{ catalog_ocp_version }}
      packages:
        {{ cat.packages | to_nice_yaml(indent=2) | indent(8) }}
{% endfor %}
{% if additional_images | default([]) | length > 0 %}
  additionalImages:
{% for img in additional_images %}
    - name: {{ img }}
{% endfor %}
{% endif %}
